@import 'src/shared-styles';


mat-form-field {
  width: 12vw;
}

.change-svg-title-row {
  width: 12vw;
}

.svg-wrapper {
  text-align: center;
  margin-top: 0.6rem;
  width: 12vw;
}
.change-svg,  {
  width: 2rem;
}

.converterForm {
  margin-top: 20vh;
  width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

button {
  width: 100px;
  height: 40px;
  margin-top: 1rem;
  margin-left: calc(50vw - 50px);
  color: #FFFFFF;
  background: #000000;
  border: none;
}
