<form [formGroup]="converterForm" class="converterForm">


  <mat-form-field appearance="fill">
    <mat-label>Amount from</mat-label>
    <input #fromAmount matInput formControlName="fromAmount" maxlength="9" (keypress)="convert()" (change)="convert()">
    <mat-error *ngIf="fromAmount.value !== '\'^[1-9]\\\\d*(\\\\.\\\\d{1,8})?$\''">Number greater than 0</mat-error>

  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Currency</mat-label>
    <mat-select formControlName="fromCurrency" [(value)]="selectedFromCurrency">
      <mat-option *ngFor="let currency of currencies" [value]="currency.value">
        {{currency.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <div class="svg-wrapper">
    <img class="change-svg" src="assets/change_svg.svg" (click)="swap()">
  </div>


  <mat-form-field appearance="fill">
    <mat-label>Amount to</mat-label>
    <input matInput value={{result}} formControlName="toAmount" maxlength="9" readonly>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Currency</mat-label>
    <mat-select formControlName="toCurrency" [(value)]="selectedToCurrency">

      <mat-option *ngFor="let currency of currencies" [value]="currency.value">
        {{currency.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>


</form>


<button (click)="convert()">CONVERT</button>
